.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

header {
  background-color: #DAE8FC !important;
}

body {
  background-color: #DAE8FC !important;
}

.scrollable {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
}

.boton {
  white-space: normal;
  word-break:break-all;
}

.mensajes {
  height: 300px;
  widt: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.icon {
    background: url('reloj.png');
    height: 20px;
    width: 20px;
    display: block;
}