<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'reloj.png' %}"><title>Ver intercambio</title>
</head>
<body>
{% include 'header.html' %}
<div class="container d-flex justify-content-center vertical-center">
    <div class="col-8 text-center">
        <h1>Intercambio entre {{i.idUsuarioDa}} y {{i.idUsuarioRecibe}} </h1>
        <div class="row border scrollable overflow-auto boton">
            <a href="/servicios/{{i.idServicio.id}}">Servicio: {{i.idServicio}}</a>
            <div><b>Fecha y hora de inicio:</b> {{i.inicio}}</div>
            <div><b>Fecha y hora de fin:</b> {{i.fin}}</div>
            {% if not i.nota %}
            <div><b>Nota:</b> Todavía no ha recibido valoraciones</div>
            {% elif i.nota %}
            <div><b>Nota:</b> {{i.nota}}</div>
            {% endif%}
        </div>
        <div class="row border">
            {% if i.confirmacion == 0 and request.user == i.idUsuarioDa %}
            <a style="color:#0000ff">INTERCAMBIO POR CONFIRMAR</a>
            {% if mensaje %}
            <p class="alert alert-danger" role="alert">{{ mensaje }}</p>
            {% endif%}
            <form onsubmit="return confirm('Usted va a confirmar este intercambio');" id='formulario1' method='post' action=''>{% csrf_token %}
                <input type='hidden' value='{{s.id}}' name='id1'>
                <p><input class="btn btn-primary" type='submit' value='Confirmar el intercambio'/></p>
            </form>
            <form onsubmit="return confirm('Usted va a cancelar este intercambio');" id='formulario2' method='post' action=''>{% csrf_token %}
                <input type='hidden' value='{{s.id}}' name='id2'>
                <p><input class="btn btn-danger" type='submit' value='Cancelar el intercambio'/></p>
            </form>
            {% elif request.user == i.idUsuarioRecibe and i.confirmacion == 0 %}
            <a style="color:#0000ff">ESPERANDO CONFIRMACIÓN</a>
            <form onsubmit="return confirm('Usted va a cancelar este intercambio');" id='formulario2' method='post' action=''>{% csrf_token %}
                <input type='hidden' value='{{s.id}}' name='id2'>
                <p><input class="btn btn-danger" type='submit' value='Cancelar el intercambio'/></p>
            </form>
            {% elif i.confirmacion == 1 and not valorar%}
            <a style="color:#00ff00">INTERCAMBIO CONFIRMADO</a>
            <form onsubmit="return confirm('Usted va a cancelar este intercambio');" id='formulario2' method='post' action=''>{% csrf_token %}
                <input type='hidden' value='{{s.id}}' name='id2'>
                <p><input class="btn btn-danger" type='submit' value='Cancelar el intercambio'/></p>
            </form>
            {% elif i.confirmacion == 1 and request.user == i.idUsuarioRecibe and valorar%}
            <a style="color:#ff6500">VALORA ESTE INTERCAMBIO ENTRE 0 Y 5</a></br>
            <form id='formulario3' method='post' action=''>{% csrf_token %}
                <p><input type="number" step="0.1" min="0" max="5" name="nota">
                    <input class="btn btn-primary" type='submit' value='Valorar'/></p>
            </form>
            {% elif i.confirmacion == 1 and request.user == i.idUsuarioDa and valorar%}
            <a style="color:#ff6500">INTERCAMBIO POR VALORAR</a>
            {% elif i.confirmacion == 2 %}
            <a style="color:#000000">INTERCAMBIO FINALIZADO</a>
            {% elif i.confirmacion == 3 %}
            <a style="color:#ff0000">INTERCAMBIO CANCELADO</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>