<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver servicios</title>
</head>
<body>
{% include 'header.html' %}
{% if servicios %}
{% for s in servicios %}
<div>
    <table cellspacing="15">
        <tr>
            <td><a href="/servicios/{{s.id}}">Servicio: {{s.nombre}} </a></td>
            <td>Descripcion: {{s.descripcion}}</td>
        </tr>
    </table>
</div>
{% endfor %}
{% else %}
No hay servicios aún
{% endif %}
{% if intercambios %}
{% for i in intercambios %}
<div>
    <table cellspacing="15">
        <tr>
            <td><a href="/intercambios/{{i.id}}">Intercambio: {{i}} </a></td>
            <td>Fecha y hora: {{i.inicio}}</td>
        </tr>
    </table>
</div>
{% endfor %}
{% else %}
No hay intercambios aún
{% endif %}
</body>
</html>