<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'general.css' %}">
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'reloj.png' %}"><title>Mis intercambios</title>
</head>
<body>
{% include 'header.html' %}
<div>
    <div class="container d-flex justify-content-center vertical-center">
        <div class="row">
            <div class="col-lg-5 col-12 text-center align-self-center">
                <form id='formulario' method='post' action=''>{% csrf_token %}
                    <table class="table table-responsive">{{formulario}}</table>
                    <p><input class="btn btn-primary" type='submit' value='Buscar'/></p>
                </form>
            </div>
            <div class="col-lg-7 col-12 text-center">
                <h1>Aquí tienes tus intercambios</h1>
                <div class="row border scrollable overflow-auto">
                {% if intercambios %}
                {% for i in intercambios %}
                <div class="row border">
                    <a class="btn boton {% if 0 == i.confirmacion %}btn-outline-primary{% elif 1 == i.confirmacion %}
            btn-outline-warning{% elif 2 == i.confirmacion %}btn-outline-success{% elif 3 == i.confirmacion %}
            btn-outline-danger{% endif %}" href="/intercambios/{{i.id}}" role="button">
                        {% ifequal i.idUsuarioDa request.user %}
                        <div><b>Servicio prestado a {{i.idUsuarioRecibe}}</b></div>
                        {% else %}
                        <div><b>Servicio prestado por {{i.idUsuarioDa}}</b></div>
                        {% endifequal %}
                        <div>Desde {{i.inicio}} hasta {{i.fin}}</div></a>
                </div>
                {% endfor %}
                {% else %}
                <div>No hay intercambios aún</div>
                {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>