<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver servicios</title>
</head>
<body>
{% include 'header.html' %}
<form id='formulario_orden' method='post' action=''>{% csrf_token %}
    <table>{{formulario_orden}}</table>
    <p><input type='submit' value='Ordenar por: '/></p>
</form>
{% if servicios %}
{% for s in servicios %}
<div>
<table cellspacing="15">
    <tr>
    <td><a href="/servicios/{{s.id}}">Servicio: {{s.nombre}} </a></td>
    <td>Descripcion: {{s.descripcion}}</td>
    </tr>
</table>
</div>
{% endfor %}
{% else %}
No hay servicios aún
{% endif %}

<form id='formulario' method='post' action=''>{% csrf_token %}
    <table>{{formulario}}</table>
    <p><input type='submit' value='Buscar'/></p>
</form>
</body>
</html>